<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Manajemen_WarungMakanBuAnis.My.MySettings.ConnectionString" connectionString="Dsn=koneksi_inventory_warung" providerName="System.Data.Odbc"/>
        <add name="Manajemen_WarungMakanBuAnis.My.MySettings.ConnectionString1" connectionString="Dsn=warungmkn_buanis;uid=root" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
